### 겨울방학 파이썬 스터디 4차시 과제

- 이번 과제는 사용하는 데이터에 따라 A, B, C로 나뉘어져 있습니다.
- 각 문제의 배점은 문제 맨 끝에 적어두었으니 참고해서 풀어주시면 됩니다.
- 두 가지 방법을 이용해서 해결하라고 명시된 문제는 한가지 방법으로만 풀었을때 정답 인정되지 않습니다.
- 과제 기한 : 1월 16일 12시

## A.

**A1.** 출력값이 아래와 동일하도록 DataFrame을 생성하시오. (1점)

|  | continent	| year	| lifeExp	| pop	| gdpPercap |
| ----- | ------------- | ------ | -------- | ----------- | --------- |
| 0 |	Asia|	1952|	28|	843|	779.4 |
| 1 |	Asia|	1957|	30|	924	|820.7 |
| 2 |	Asia|	1962|	31|	1083|	853.1 |
| 3 |	Asia|	1967|	34|	1376|	836.1 |
| 4 |	Asia|	1972|	36|	1370|	739.9 |
| 5 |	Asia| 1977|	38|	1488|	786.3 |

In [ ]:
#code here

**A2.** 인덱싱을 이용하여 데이터프레임에서 'pop', 'gdpPercap'을 출력하시오. (2점)
- 단, 행은 4개만 출력하시오
- iloc , loc 둘 다 이용하여 출력하시오.

- iloc 이용

In [ ]:
#code here

- loc 이용

In [ ]:
#code here

**A3.** DataFrame의 열 순서를 pop 기준 역순으로 변경하시오. (1점)

In [ ]:
#code here

## B.

**B1.**   dataCustomers.tab, dataTransactions.tab 데이터를 불러오세요 (1점)
- 단, 구분자는 tab이다. (인코딩도 필요)

In [88]:
#code here

**B2.** 두 데이터를 custid 기준으로 합치고 5개의 행만 출력해보세요. (1점)

In [ ]:
#code here

**B3.** brand의 종류의 수와 가장 많이 나온 store를 구하시오. (1점)

In [ ]:
#code here

In [ ]:
#code here

**B4.** 본점에서 화장품 관련 상품을 구입한 고객의 평균 나이를 구하시오. (query문을 이용할 것) (1점)

In [ ]:
#code here

**B5.** 구매금액(amount)이 가장 큰 사람부터 적은 사람 순으로 정렬하여 상위 10명만 출력하시오. (1점)
- 데이터 프레임 형식으로 출력하시오. 데이터 프레임의 컬럼은 "custid"만 나오도록 하시오.

In [ ]:
#code here

**B6.** 지오다노는 여성과 남성 중 누구에게 더 많이 팔리는지 구하시오. (2점)

In [ ]:
#code here

**B7.** df에서 residence의 비율을 구하고 df에 'residence_rate'열을 추가하시오. (2점)

In [123]:
#code here

## C.

In [129]:
### 코드를 건드리지 마시고 실행해주세요.
info_login = pd.read_csv('info_login.csv',encoding='cp949').iloc[:148999,1:] ; info_login

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

        login_id  user_id            c_time   platform                 browser
0        14196.0  19195.0   2018-09-23 1:30  Windows 8  Internet Explorer 10.0
1        14234.0  22045.0   2018-09-23 2:46    Windows     Chrome 67.0.3396.99
2        14256.0   8790.0   2018-09-23 3:35    Windows    Chrome 69.0.3497.100
3        14278.0      NaN  2018-09-23 12:50    Windows    Chrome 69.0.3497.100
4        14279.0      NaN  2018-09-23 12:50    Windows    Chrome 69.0.3497.100
...          ...      ...               ...        ...                     ...
148994  584404.0  19696.0  2020-12-08 23:46        NaN                     NaN
148995  584405.0   6586.0  2020-12-08 23:49        NaN                     NaN
148996  584406.0  19303.0  2020-12-08 23:49        NaN                     NaN
148997  584407.0  11103.0  2020-12-08 23:51        NaN                     NaN
148998  584408.0   6600.0  2020-12-08 23:59        NaN                     NaN

[148999 rows x 5 columns]

**C1.** 위에 데이터를 가지고 user_id가 NaN인 행은 모두 지우고, platform과 browser는 최빈값으로 대체하시오. (2점)

In [134]:
#code here

**C2.**  info_login 데이터에 결측값이 없는지 확인하시오. (1점)

In [ ]:
#code here

**C3.** 위에 만든 info_login데이터를 가지고 login_id와 user_id를 int형으로 바꾸세요. (info_login을 출력할때 바뀐 형태로 출력되어야 함) (1점)
- 바꾸고 난 뒤에 데이터 프레임 열의 데이터 타입을 출력해보세요.

In [ ]:
#code here

**C4.** 각 플랫폼 별 user_id의 평균 값을 딕셔너리에 넣어주는 코드를 만들어보세요. (3점)
- key는 플랫폼 명칭, value는 user_id의 평균으로 해주세요.
- 3주차에서 배운 사용자 정의 함수 (boss_question)를 만들어서 사용해보세요. 
- 단, user_id의 평균값은 정수를 나타내시오.
- 힌트) def, query, for

In [ ]:
#code here
dict={}
def boss_question(x):


for pf in platforms:


print(dict)