# 필독!

<font color = "red">
    문제 풀기 전 제출 방식을 꼭 확인해주세요 !!
    
    - 1) 파일 형식을 ipynb로 해주세요!
    - 2) 파일명은 '겨울방학 파이썬 스터디 n차시 과제_본인이름'을 지켜주세요
    - 3) 제출은 각 해당된 멘토에게 해주시면 됩니다.
---------------------------------------------------------------------------------------------------------------------------------

### 난이도 하 (1점)
**Q1.** 아래의 리스트에서 '여름'이 몇번 나오는지 출력하시오. ( 반복문 사용, count 사용 X )
```python
seasons = ['여름','겨울','여름','가을','겨울','봄','여름']
```

In [ ]:
### 코드를 입력하세요
seasons = ['여름','겨울','여름','가을','겨울','봄','여름']
s=0

for i in seasons :
    if i == '여름' :
        s += 1
s

3

**Q2.** 다음과 같이 0과 1로 이루어진 리스트가 있다.
```python
zero_one_list = [0,0,0,0,1,0,1,0]
```
반복문, 조건문을 활용해 1은 리스트의 몇번째 원소인지 출력하시오. 예를 들어, 위와 같은 zero_one_list에서는 5번째, 7번째 원소입니다.

In [ ]:
### 코드를 입력하세요
zero_one_list = [0,0,0,0,1,0,1,0]

for i in range(len(zero_one_list)) :    
    if zero_one_list[i] == 1 : 
        print(i+1,'번째 원소입니다.')

5 번째 원소입니다.
7 번째 원소입니다.

**Q3.** 세개의 정수를 인자로 받아 세개의 정수가 삼각형 세 변의 길이라고 할 때 삼각형이 이루어 질 수 없다면 0, 이루어질 수 있다면 둔각삼각형, 예각삼각형, 직각삼각형 중 하나를 출력하는 함수를 작성하시오. (단 내장함수 sorted 또는 list의  sort method 사용 불가)<p>
예시1)  입력: 4, 5, 3     출력: 직각삼각형<p>
예시2)  입력: 12, 3, 7   출력: 0<p>
예시3)  입력: 12, 5, 14 출력: 둔각삼각형<p>

In [ ]:
### 코드를 입력하세요
first = int(input('숫자를 입력하시오 : '))
second = int(input('숫자를 입력하시오 : '))
third = int(input('숫자를 입력하시오 : '))
lst = [first, second, third]

if sum(lst) > 2*max(lst):
    long = max(lst)
    lst.remove(max(lst))
    if lst[0]**2 + lst[1]**2 > long**2:
        print('예각삼각형')
    elif lst[0]**2 + lst[1]**2 == long**2:
        print('직각삼각형')
    else:
        print('둔각삼각형')
else:
    print(0)

숫자를 입력하시오 : 8
숫자를 입력하시오 : 8
숫자를 입력하시오 : 12
둔각삼각형

**Q4.** 준회는 200만원을 은행에 년 3.7%의 복리이자를 주는 통장에 돈을 예금했다. 준회는 몇년 후에 원리금이 초기 원금의 10배가 넘는지를 구하시오.

In [ ]:
### 코드를 입력하세요
money = 2000000
interest = 0.037
year = 0

while True:
    if money<20000000:
        money=money+money*interest
        year+=1
    else:
        break
    
print(year)

64

### 난이도 중 (2점)

**Q5.** 민성이는 알람을 듣고 바로 일어나지 못해 항상 45분씩 일찍 알람을 설정해둔다. 민성이가 일어나는 시간 H시 M분(0 ≤ H ≤ 23, 0 ≤ M ≤ 59)을 입력받아 알람을 설정할 시간을 구하여라. (단, 하루의 시작은 0:0이고 끝은 23:59이다.)

    입력예시1) H:10, M:10
    출력예시1) 9시 25분

    입력예시2) H:0, M:30
    출력예시2) 23시 45분

    입력예시3) H:23, M:40
    출력예시3) 22시 55분

In [ ]:
### 코드를 입력하세요
hour = int(input('H:'))
minute = int(input('M:'))

minute -= 45
if minute < 0:
    minute += 60
    hour -= 1
    if hour < 0:
        hour = 23

print(str(hour) + '시 ' + str(minute) + '분')

H:23
M:10
22시 25분

**Q6.** 주어진 리스트와 반복문을 사용하여 새로운 멘토-점수 Dictionary를 생성하세요.

| key      | value |
| ----------- | ----------- |
| 고민성 | [ 72, 80, 97, 92] |
| 구준회 | [ 93, 95, 100, 85] |
| 권유진 | [ 75, 88, 79, 86] |
| 이태범 | [ 77, 88, 69, 56] |

In [ ]:
###코드에 손대지 말고 실행해 주세요

mento = ['고민성','구준회','권유진','이태범']
score = [[72,80,97,92], [93,95,100,85], [75,88,79,86], [77,88,69,56]]

In [ ]:
### 코드를 입력하세요
mento_score = {}
for i,j in enumerate(mento):
    mento_score[j] = score[i]
mento_score

{'고민성': [72, 80, 97, 92],
 '구준회': [93, 95, 100, 85],
 '권유진': [75, 88, 79, 86],
 '이태범': [77, 88, 69, 56]}

In [ ]:
mento_score = {}
for i,j in zip(mento, score):
    mento_score[i] = j
mento_score

{'고민성': [72, 80, 97, 92],
 '구준회': [93, 95, 100, 85],
 '권유진': [75, 88, 79, 86],
 '이태범': [77, 88, 69, 56]}

**Q7.** 다음 조건으로 주어진 리스트를 나누시오.

    원소가 문자일때:
        str_list에 추가
    원소가 숫자일때:
        num_list에 추가

In [ ]:
###코드에 손대지 말고 실행해 주세요
unclean_list = [95 , 4, -7, '국민대', '빅데이터경영통계','mento',9500]

In [ ]:
### 코드를 입력하세요
num_list = []
str_list = []

for i in range(len(unclean_list)):
    if type(unclean_list[i])==int :
        num_list.append(unclean_list[i])
    else:
        str_list.append(unclean_list[i])
        
print(num_list)
print(str_list)

[95, 4, -7, 9500]
['국민대', '빅데이터경영통계', 'mento']

**Q8.** 주어진 성적 리스트의 분산을 구하시오.
```python
score_list = [100, 85, 80, 80, 90, 95, 75, 55, 60, 70]
```

In [ ]:
### 코드를 입력하세요
score_list = [100, 85, 80, 80, 90, 95, 75, 55, 60, 70]
score_list_mean = sum(score_list) / len(score_list)
vsum = 0

for i in score_list : 
    vsum = vsum + (i - score_list_mean )**2
    
vsum/len(score_list)

189.0

**Q9.** 다음과 같은 모양을 반복문을 사용해서 만드시오.

                     *
                    ***
                   *****
                  *******
                 *********
                ***********
               *************
              ***************
             *****************
            *******************

In [ ]:
### 코드를 입력하세요
for i in range(10):
    print(' ' * (-i + 9), '*' * (2*i + 1))

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

### 난이도 상 (3점)

**Q10.** list comprehension을 이용하여 구구단의 모든 원소를 갖는 리스트를 만드시오. 
    <p>출력예시) [2,4,6,8,10,12,14,16,18,3,6,9,12,15,18, 21, ... , 9, 18,27,36,45,54,63,72,81]

In [ ]:
### 코드를 입력하세요
[ i*j for i in range(2,10) for j in range(1,10)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

**Q11.** 정수를 입력받아 서로 다른 자릿수에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 출력하시오.

    입력예시1) 21341
    출력예시1) [2,3,4,5,6,7]

    입력예시2) 5027
    출력예시2) [2,5,7,9,12]

In [1]:
### 코드를 입력하세요
a = input()
numbers = [int(num) for num in a]
answers = []

for i in range(len(numbers)):
    for j in range(i+1, len(numbers)):
        out = numbers[i] + numbers[j]
        if out not in answers :
            answers.append(out)
            answers.sort()
print(answers)

3617
[4, 7, 8, 9, 10, 13]

**Q12.** 다음 주어진 Dictionary를 아래와 같은 형태로 정렬하세요.
```python
[(96, '구준회'), (92, '고민성'), (88, '이태범'), (83, '권유진')]
```

In [1]:
### 코드를 건드리지 마시고 실행해주세요.
Dict = {'이태범':88,'고민성':92,'권유진':83,'구준회':96};Dict

{'이태범': 88, '고민성': 92, '권유진': 83, '구준회': 96}

In [2]:
### 코드를 입력하세요
sorted([(v,k) for k, v in Dict.items()], reverse=True)

[(96, '구준회'), (92, '고민성'), (88, '이태범'), (83, '권유진')]

**Q13.** 다음과 같은 모양을 반복문을 사용해서 만드시오.
    
    *         *
     *       * 
      *     *  
       *   *   
        * *    
         *     
        * *    
       *   *   
      *     *  
     *       * 
    *         *

In [ ]:
### 코드를 입력하세요
for i in range(11):
    if i == 5:
        print(' '*i + '*')
    elif i < 5:
        print(' '*i + '*' + ' '*(-2*i + 9) + '*')
    else:
        print(' '*(-i+10) + '*' + ' '*(2*i - 11) + '*')

*         *
 *       *
  *     *
   *   *
    * *
     *
    * *
   *   *
  *     *
 *       *
*         *